body {
    /* !!!!! background-color: #f4f4f4; */
    opacity: 1;
    background-image:  linear-gradient(#cdcdcd 1.5px, transparent 1px), linear-gradient(to right, #cdcdcd 1.5px, #f4f4f4 1px);
    background-size: 20px 20px;
    /* overflow: hidden ; */
}
  
/* The browser window */
.window {
  background-color: #f4f4f4;
    border: 1.5px solid #4d4d4d;
    height: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-radius: 20px;
    margin-right: 100px;
    margin-left: 100px;

  }

  .smallerwindow {
    background-color: #f4f4f4;
      border: 1.5px solid #4d4d4d;
      height: 400px;
      width: 500px;
      top: 20%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-radius: 20px;
      margin-left: 80px;
      position: absolute;
    }
  
  /* Container for columns and the top "toolbar" */
  .row {
    height: 1.5vw;
    padding: 8px;
    background:  #cccccc;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1.5px solid #4d4d4d;
  }

  .horizContainer{
    height: 1.5vw;
    padding: 8px;
    background:  #cccccc;
    border-radius: 0px 0px 20px 20px;
    border: 1.5px solid #4d4d4d;
  }

  /* Three dots */
  .dot {
    margin-top: 4px;
    height: 1vw;
    width: 1vw;
    border: 1.5px solid black;
    background:#f4f4f4;
    border-radius: 50%;
    display: inline-block;
  }

  /*close, minimize, maximaze - in progress*/
  .bar {
    width: 17px;
    height: 3px;
    background-color: #4d4d4d;
    margin: 3px 0;
    display: block;
  }
  
  
  /* Page content */
  .title{
    padding: 10px;
    font-family: Verdana;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    /* width: fit-content;
    block-size: fit-content; */
  }
  .content {
    padding:1vw;
    font-family: "Lucida Console"; 
    width: fit-content;
    block-size: fit-content;
  }
  
  /* menu */
  .menu{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 14%;
    text-align:left;
  }

  .searchBar{
    position: absolute;
    top: 2.5%;
    left: 28%;
    width: 40%;
    text-align:left;
  }

  .account{
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    width: 14%;
    text-align:left;
  }


  .signUpBtn{
    position: absolute;
    top: 10%;
    left: 25%;
  }
  .logInBtn{
    position: absolute;
    top: 10%;
    right: 15%;
  }
  .aboutBtn{
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 17%;
    text-align:left;
  }
  .helpBtn{
    position: absolute;
    bottom: 2%;
    right: 5%;
    z-index: 4;
    width: 14%;
    text-align:left;
  }
  
  .signUpBtn,.logInBtn,.helpBtn,.aboutBtn,.account,.searchBar,.menu {
    border: 1.5px solid #4d4d4d;
    background-color: #f4f4f4;
    padding: 14px 28px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
  }
  /* On mouse-over */
.signUpBtn:hover, .logInBtn:hover, .helpBtn:hover, .aboutBtn:hover, .searchBar:hover, .account:hover {
  background: #cccccc;
}

  /* position */

.center {
  position: absolute;
  top: 25%;
  width: 100%;
}

#overlay1 {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0px;
  left: 0px;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay2 {
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  left: 35px;
  top: 35px;
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

/* shapes */

#star-six {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #000000;
  position: relative;
}
#star-six:after {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #000000;
  position: absolute;
  content: "";
  top: 30px;
  left: -50px;
}

.circle {
  height: 22vw;
  width: 22vw;
  background-color: #004A98;
  border-radius: 50%;
  position: absolute;
  bottom: -130px;
  right: 15px;
  z-index: 3;
}

.insertImage{
  height: 83%;
  width: 83%;
  display: flex;
}

