:root {
  --yellow: #ffce38;
  --blue: #004A98;
  --white: #f4f4f4;
  --gray1: #cdcdcd;
  --gray2: #cccccc;
  --gray3: #818181;
  --gray4: #4d4d4d;
}

body {
  opacity: 1;
  background-image: linear-gradient(var(--gray1) 1.5px, transparent 1px), linear-gradient(to right, var(--gray1) 1.5px, var(--white) 1px);
  background-size: 20px 20px;
  overflow: hidden;

}

/* The browser window */
.window {
  background-color: var(--white);
  border: 1.5px solid var(--gray4);
  height: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 20px;
  margin-right: 100px;
  margin-left: 100px;
  min-height: 300px;
  max-height: 900px
}

.smallerwindow {
  background-color: var(--white);
  border: 1.5px solid var(--gray4);
  height: 400px;
  width: 500px;
  top: 20%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 20px;
  margin-left: 80px;
  position: absolute;
  z-index: 3;
}

/* The top and bottom "toolbar" */
.row {
  height: 1.5vw;
  padding: 8px;
  background: var(--gray2);
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1.5px solid var(--gray4);
}

.horizContainer {
  height: 1.5vw;
  padding: 8px;
  background: var(--gray2);
  border-radius: 0px 0px 20px 20px;
  border: 1.5px solid var(--gray4);
}

/* Three dots */
.dot {
  margin-top: 4px;
  height: 1vw;
  width: 1vw;
  border: 1.5px solid black;
  background: var(--white);
  border-radius: 50%;
  display: inline-block;
}

/*close, minimize, maximaze - in progress*/
.bar {
  width: 17px;
  height: 3px;
  background-color: var(--gray4);
  margin: 3px 0;
  display: block;
}

/* Page content */
.title {
  padding: 10px;
  font-family: Verdana;
  text-align: center;
  font-size: 5vw;
  font-weight: bold;
}

.content {
  padding: 1vw;
  font-family: "Lucida Console";
  width: fit-content;
  block-size: fit-content;
}

/* menu */
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 10;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1.5px solid var(--gray4);
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--gray3);
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: var(--gray4);
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


.signUpBtn,
.logInBtn,
.helpBtn,
.aboutBtn,
.account,
.searchBar,
.menu,
.account-button,
.help-section {
  border: 1.5px solid var(--gray4);
  background-color: var(--white);
  padding: 14px 28px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
}

/* On mouse-over */
.signUpBtn:hover,
.logInBtn:hover,
.helpBtn:hover,
.aboutBtn:hover,
.searchBar:hover,
.account:hover,
.menu:hover,
.account-button:hover,
.help-section:hover {
  background: var(--gray2);
}

.searchBar {
  position: absolute;
  top: 2.5%;
  left: 28%;
  width: 40%;
  text-align: left;
}

.menu,
.account-button {
  position: absolute;
  top: 2.5%;
  width: 13%;
  text-align: left;
  width: 170px;
  z-index: 2;
}

.menu {
  left: 2.5%;
}

.account-button {
  right: 2.5%;
}

.signUpBtn {
  position: absolute;
  top: 10%;
  left: 25%;
}

.logInBtn {
  position: absolute;
  top: 10%;
  right: 15%;
}

.aboutBtn {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 17%;
  text-align: left;
}

.helpBtn {
  position: absolute;
  bottom: 2%;
  right: 5%;
  z-index: 4;
  width: 14%;
  text-align: left;
}

.help-section {
  height: 50px;
  width: 500px;
  border-radius: 20px;
  margin-left: 640px;
  margin-bottom: 12px;
}

/* position */

.center {
  position: absolute;
  top: 25%;
  width: 93%;
  z-index: 5;
}

#overlay1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
}

#overlay2 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 35px;
  top: 35px;
  z-index: 1;
}

.content-hidden {
  color: var(--white);
}

/* shapes*/

.blueCircle {
  height: 22vw;
  width: 22vw;
  background-color: var(--blue);
  border-radius: 50%;
  position: absolute;
  bottom: -130px;
  right: 15px;
  z-index: 3;
}

.yellowCircle {
  height: 25vw;
  width: 25vw;
  background-color: var(--yellow);
  border-radius: 50%;
  position: absolute;
  top: -130px;
  margin-left: -100px;
  z-index: 0;
}

.circleplus {
  height: 3.5vw;
  width: 3.5vw;
  background-color: var(--blue);
  border-radius: 50%;
  position: relative;
  display: inline-block;
  bottom: 50%;
  z-index: 9;
  text-align: center;
  font-size: 3vw;
  color: var(--white);
}

.icons {
  background-color: var(--white);
  border: 1.5px solid black;
  border-radius: 50%;
  position: absolute;
  height: 2vw;
  width: 2vw;
  text-align: center;
  margin-left: 20px;
  z-index: 7;
}

.menu .center,
.account-button .center {
  top: 10%
}

.menu .circleplus,
.account-button .circleplus {
  left: 12%;
}

.help-section .circleplus {
  margin-left: 90%;
}

.insertImage {
  height: 83%;
  width: 83%;
  display: flex;
}