:root {
  --yellow:#ffce38;
  --blue:  #004A98;
  --white: #f4f4f4;
  --gray1: #cdcdcd;
  --gray2: #cccccc;
  --gray3: #818181;
  --gray4: #4d4d4d;
  --black: #000000;
  --green: #45a049;
}

body {
  opacity: 1;
  background-image: linear-gradient(var(--gray1) 1.5px, transparent 1px), linear-gradient(to right, var(--gray1) 1.5px, var(--white) 1px);
  background-size: 20px 20px;
  /* overflow: hidden; */

}
.form {
    margin: auto;
    width: 50%;
}

.card {
    border-radius: 10px;
    background-color: var(--white);
    border-color: var(--black);
    padding: 10px;
}

.window {
    background-color: var(--white);
    border: 1.5px solid var(--gray4);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-radius: 20px;
    min-height: 50vh;
    min-width: 70vw;
    padding: 10px;
  }
  
  .window2 {
    background-color: var(--white);
    border: 1.5px solid var(--gray4);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-radius: 20px;
    min-height: 250px;
    min-width: 65vw;
    max-width: 80vw;
    padding: 20px;
    margin-top:30vh;
  }  

.header {
  height: 30px;
  border-bottom: 1px solid var(--black);
  padding: 8px;
  background-color: var(--gray2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.dot {
  margin-top: 4px;
  height: 1vw;
  width: 1vw;
  border: 1.5px solid var(--black);
  background: var(--white);
  border-radius: 50%;
  display: inline-block;
}

.center {
    margin: auto;
    margin-top: 17vh;
    width: 50%;
}

.center2 {
  margin-left: 1vw;
  margin-top: 30vh;
}


.helpBtn,
.aboutBtn,
.menu,
.button,
.button2,
.button3,
.button4 {
  border: 1.5px solid var(--gray4);
  background-color: var(--white);
  padding: 14px 28px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
}

.aboutBtn {
    position: fixed;
    bottom: 2%;
    left: 5%;
    width: 14%;
    text-align: center;
  }

  .helpBtn {
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 4;
    width: 14%;
    text-align: center;
  }

  .button2 {
    position: absolute;
    top: 15%;
    left: 20%;
    width: 14%;
    text-align: center;
  }

  .button3 {
    position: absolute;
    top: 15%;
    left: 40%;
    width: 14%;
    text-align: center;
  }
  .button4 {
    position: absolute;
    top: 15%;
    left: 40vw;
    width: 14%;
    text-align: center;
  }

  .button {
    border-radius: 10px;
    background-color: var(--green);
    padding: 10px;
    left: 25vw;
  }

.blueCircle {
    height: 22vw;
    width: 22vw;
    background-color: var(--blue);
    border-radius: 50%;
    position: absolute;
    bottom: -130px;
    right: 15px;
    z-index: 3;
  }
  
  .yellowCircle {
    height: 25vw;
    width: 25vw;
    background-color: var(--yellow);
    border-radius: 50%;
    position: absolute;
    top: -130px;
    margin-left: -100px;
    z-index: 0;
  }
  

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

label {
    font-size: 24px;
}

input[type=submit] {
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: --green;
  }

.menu {
    display: flex; 
    justify-content: flex-end;
}

.menu_item {
    /* appearance: button; */

    background-color: lightgray;
    border-radius: 5px;
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    left: auto;
    margin-left: 10px;

    text-decoration: none;
    color: initial;
}

.text_style{
  text-align: center;
  padding: 100px;
  font-size: 90;
}

.text_style2{
  text-align: center;
  font-size: 70;
}

.text_style3{
  text-align: center;
  font-size: 40;
}